
body {
    font-family: "OpenSansRegular", Arial, Verdana, "MyriadProRegular", sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #314a5b;
}

.main_header {
    min-height: 550px;
    background: url("../img/hero-image.png") 50% 0 no-repeat;
    background-size: cover;
    max-height: -webkit-calc(100vh + 100px);
    max-height: calc(100vh + 100px);
    min-height: 860px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main_nav {
    margin-top: 30px;
}

.main_nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main_nav ul li {
    display: inline-block;
}

.main_nav_itm {
    display: inline-block;
    text-decoration: none;
    font-family: "MontserratRegular";
    color: #263742;
    margin-left: 20px;
     -webkit-transition: all .3s;
    transition: all .3s;
}

.main_nav_itm:hover,
.main_nav_itm:focus {
    text-decoration: underline;
    color: #314a5b;
}

.social_container {
    align-self: center;
}

.social_btn {
    color: #fa5c65;
    margin-left: 23px;
     -webkit-transition: all .2s;
    transition: all .2s;
    outline:none;
}
.social_btn:hover,.social_btn:focus{
    color:#ff3936;
     -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.text_content {
    margin: 280px auto 0;
}

.text_wrap h1 {
    font-family: MontserratBold;
    line-height: 1.11;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: #314a5b;
}

.red_dot {
    color: #fa5c65;
}

.text_wrap p {
    font-family: "OpenSansRegular", sans-serif;
    font-size: 20px;
    line-height: 2;
}

.main_btn {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    padding: 24px 42px;
    border-radius: 5px;
    background-color: #fa5c65;
    text-transform: uppercase;
     -webkit-transition: all .2s;
    transition: all .2s;
}

.main_btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ff3936;
}
.img_wrap img{
    max-width: 100%;
}